<div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <label>Ground Level</label>
    {{Maindata.grnd_level}}
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <label>Humidity</label>
    {{Maindata.humidity}}
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <label>Pressure</label>
    {{Maindata.pressure}}
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <label>Sea Level</label>
    {{Maindata.sea_level}}
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <label>Temperature</label>
    {{Maindata.temp}}
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <label>Temperature Max</label>
    {{Maindata.temp_max}}
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <label>Temperature Min</label>
    {{Maindata.temp_min}}
  </div>
</div>